@font-face {
  font-family: "iconfont"; /* Project id 2955082 */
  src: url('iconfont.woff2?t=1637548842075') format('woff2'),
       url('iconfont.woff?t=1637548842075') format('woff'),
       url('iconfont.ttf?t=1637548842075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e61f";
}

.icon-rmb:before {
  content: "\e61b";
}

.icon-wode:before {
  content: "\e657";
}

.icon-jiaoyimingxi:before {
  content: "\e68b";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-shouye:before {
  content: "\e61e";
}

.icon-zhuce:before {
  content: "\e611";
}

.icon-zhanghuxinxichaxun:before {
  content: "\e627";
}

.icon-zhuanzhang:before {
  content: "\e603";
}

.icon-CombinedShape:before {
  content: "\e600";
}

.icon-hangneizhuanzhang:before {
  content: "\e675";
}

.icon-tongmingzhuanzhang:before {
  content: "\e688";
}

.icon-wodecaifu:before {
  content: "\e610";
}

.icon-dianziyinhangzhuce:before {
  content: "\e683";
}

